@section Styles
{
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-md-2">
        <div class="quickpagenav">
            <ul class="navText">
                <p style="margin-top:2px; margin-bottom:4px; text-align:center;">Quick Links</p>
                <li class="liNav"><a href="work/resume.aspx">Resume</a></li>
                <li class="liNav"><a href="work/electronics.aspx">Electronics Experience</a></li>
                <li class="liNav"><a href="work/software.aspx">Software Experience</a></li>
                <!--<li class="liNav"><a href="hobbies/hobbies.aspx">Hobbies</a></li>-->
                <li class="liNav"><a href="hobbies/photography.aspx">Photography</a></li>
                <li class="liNav"><a href="hobbies/games.aspx">Games</a></li>
                <!--<li class="liNav"><a href="hobbies/firearms.aspx">Shooting</a></li>-->
            </ul>
        </div>
    </div>

    <div class="col-md-10">
        <div class="text">
            <p>Welcome to my little corner of the Internet.  This page is in development right now so not all of the links lead to a functional page.</p>
            <p>
                I am developing this page to begin to showcase some of the skills I have learned since starting and 
                finishing my BSIT.  This web site is one small sample
            </p>
            <p>
                This page is a work in progress.  I will be adding to it all the time.<br />
                <br /><br /><br /><br /><br />
            <p style="font-size:small;">
                I would like to give thanks to Steve Gibson from <a href="http://www.grc.com" target="_blank">Gibson Research Corporation</a> for the CSS menu system.  
                Steve was great and placed it into the public domain.  You can get it <a href="https://www.grc.com/menudemo.htm" target="_blank">here</a>.
            </p>
            <p style="font-size:x-small;">
                Last updated November 15, 2015
            </p>
        </div>
    </div>
</div>