@section Styles
{
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
}

<body class="resumeBody">
    <div class="row">
        <div class="col-md-3">
            <div class="resumeContact">
                <p><h2 class="contactText">Richard Howell</h2></p>
                <p class="contactText">520 Grant Street
                <p class="contactText">Woodburn, OR 97071</p>

                <p class="contactText">(503) 522-1483</p>
                <p class="contactText"><a href="mailto:rthowell@rthowell.net?Subject=Resume inquiry" title="Click here to send me an e-mail">rthowell@rthowell.net</a></p>
                <p class="contactText"><a href="../pdf/Resume.pdf" title="Click here to download my current resume">Download resume (PDF)</a></p>
                <img src="../img/headshot.jpeg" height="100" width="100" alt="Headshot of Richard Howell" />
            </div>
        </div>

        <div class="col-md-9">
            <div class="resumeText" style="margin-left:1em;">
                <h2>Objective</h2><br />
                To obtain an entry level position as a Software Engineer.
                <h2>Summary of Qualifications</h2>
                <ul class="circle">
                    <li>Strong education in Microsoft .NET including ASP.NET, C#, and Visual Basic.</li>
                    <li>Experience with using Java to create applications.</li>
                    <li>Experience with using SQL and LINQ in both WinForms and WebForms.</li>
                    <li>Studies included HTML, CSS, and Javascript.</li>
                    <li>1+ year experience using ASP.NET and C#.</li>
                    <li>Able to work well within a team environment as well as individually</li>
                    <li>Online education enabled greater ability to work with a team over a distance.</li>
                </ul>
                <h3>Professional Experience</h3>
                <p class="resumeIndent">
                    Rockwell Collins, Wilsonville, Oregon<br />
                    Senior Electronics Test Technician, October 1998 - Present
                </p>
                <ul class="circle">
                    <li>Assemble multiple models of computers, overhead projectors, and combiners.</li>
                    <li>Additional duties include development of hardware and software applications
                    <li>Tested and repaired to component level the computers, overhead projectors, and combiners.</li>
                    <li>Assisted test engineering in developing new scripts to better test products.</li>
                    <li>Designed test fixturing for environmental chambers.</li>
                    <li>Developed software to monitor production inventory and generate a dynamic display using ASP.NET.</li>
                    <li>Developed ASP.NET page to graphically display the XML output from multiple different computers.</li>
                    <li>Developed database and WebForm front ends for a Lean Electronics 5S reporting system.</li>
                </ul>
                <p class="resumeIndent">
                    U.S. Navy, Norfolk Naval Air Station, Norfolk, VA<br />
                    Computer Automated Test Station Operator/Maintainer, August 1996 - June 1998
                </p>
                <ul class="circle">
                    <li>Performed intermediate and depot level maintenance on navigation and radar computers.</li>
                    <li>Performed required maintenance on the Computer Automated Test Station.</li>
                    <li>Performed testing and troubleshooting to component level using the ATLAS and BASIC computer languages.</li>
                    <li>Reprogrammed tests as needed to assist in further fault isolation of failing LRU’s.</li>
                    <li>As required, changed test programs to comply with current testing requirements.</li>
                    <li>Possessed a Department of Defense security rating of Secret.</li>
                </ul>
                <p class="resumeIndent">
                    U.S. Navy, Norfolk Naval Air Station, Norfolk, VA<br />
                    Communication/Navigation System Repair Technician, April 1995 - July 1996
                </p>
                <ul class="circle">
                    <li>Performed intermediate and depot level maintenance on multiple different radio, navigation, and IFF systems.</li>
                    <li>Responsible for reprogramming of automated landing systems and maintaining security in the locker.</li>
                    <li>Was responsible for training multiple individuals so they were ready for deployment.  Training included how to test and troubleshoot different radios and maintenance of test equipment.</li>
                </ul>
                <h3>Education</h3>
                <p class="resumeIndent">
                    University of Phoenix, Phoenix, AZ<br />
                    Bachelor of Science - Information Technology, November 2011 - July 2014<br />
                    GPA 3.77
                </p>
                <ul class="square">
                    <li>Strong focus on systems development using SDLC and agile methods.</li>
                    <li>Team based assignments with distance communication.</li>
                    <li>Emphasis on business systems development.</li>
                </ul>
                <p class="resumeIndent">
                    University of Phoenix, Phoenix, AZ<br />
                    Associate of Arts - General Studies, November 2010 - September 2011<br />
                    GPA 3.96
                </p>
                <ul class="square">
                    <li>General studies degree.</li>
                    <li>Completed to speed the process for the Bachelors of Science.</li>
                </ul>
                <p class="resumeIndent">
                    U.S. Navy Maintainer School, NAS Virginia Beach, Virginia Beach, VA<br />
                    CATIIID Operator/Maintainer 1996
                </p>
                <ul class="square">
                    <li>Learned maintenance of the Computer Automated Test Station, 3 bay, digital (CAT IIID).</li>
                    <li>Learned techniques to use to train new operators.</li>
                </ul>
                <p class="resumeIndent">
                    DeVry Institute of Technology, City of Industry, CA<br />
                    Associates of Science - Electronics
                    Incomplete
                </p>
                <ul class="square">
                    <li>Basic and advanced analog and digital electronics.</li>
                    <li>Practical experience laying out and experimenting with circuitry.</li>
                </ul>
                <h3>Additional Information</h3>
                <ul class="circle">
                    <li>Ability to quickly learn new languages.</li>
                    <li>Adapts to new situations quickly.</li>
                    <li>Ability to work in a team environment with distant team members.</li>
                    <li>Ability to work well on my own.</li>
                </ul>
                <h1>References available on request.</h1>

                <p style="font-size:x-small;">
                    Last updated October 11, 2014
                </p>
            </div>
        </div>
    </div>
</body>